
@import 'vars.css';


.comp-abstraction-manager {
    visibility: hidden;
    padding: var(--comp-padding-vert) var(--comp-padding-horz);
}

.comp-abstraction-manager-header {
    display: flex;
    flex-direction: row;
}
