
@import 'vars.css';


.comp-form-field {
    display: flex;
    flex-direction: column;

    padding: 0 20px;
}

.comp-form-field-input {
    height: 36px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px dashed #D2D7DF;
    border-bottom: 1px dashed #363A42;
    border-radius: 2px;

    background: #F2F6FB;
    background: #F3F5F9;
}

.comp-form-field-app-id-refresh-button {
    margin-right: 12px;
}

.comp-form-field-app-id-refresh-button:hover {
    cursor: pointer;
}

.comp-form-field-app-id-refresh-button:hover svg {
    fill: #41454E;
}

.comp-form-field-app-id-refresh-button svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: #93989E;
    margin-top: 0.2rem;
}

.comp-form-field:not(:last-child) {
    margin-bottom: 20px;
}

.comp-form-field label {
    margin-bottom: 4px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #12171F;
}

.comp-form-field input {
    height: 100%;

    box-shadow: none;
    background: none;

    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-weight: 400;
    padding: 0 12px;
}


.comp-form-field textarea {
    outline: none;
    resize: vertical;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-weight: 400;
    border: 1px dashed #D2D7DF;
    border-bottom: 1px dashed #363A42;
    border-right: 1px dashed #363A42;
    font-size: 1rem;
    font-weight: 400;
    padding: 12px;
    background: #F2F7FF;
    background: #F2F6FB;
    min-height: 80px;
}

.comp-form-field-divider {
    height: 0;
    width: 100%;
    border-bottom: 1px solid #D3D8E2;
    margin-bottom: 20px;
}

.comp-form-field-choice {
    height: 100%;
}

.comp-form-field-choice-case {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.comp-form-field-choice-case-button {
    border-right: 1px dashed #363A42;
    padding: 0 12px;
    max-width: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;
    color: #363A42;
}

.comp-form-field-choice-case-button:hover {
    cursor: pointer;
}
