
@import 'vars.css';

.comp-story-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comp-story-link:hover .comp-story-link-story-name {
    cursor: pointer;
    color: #434953;
    color: var(--color-blue);
}

.comp-story-link:hover .comp-story-link-icon svg {
    fill: #636973;
    fill: var(--color-blue);
}

.is-large .comp-story-link-story-name {
    font-size: 1.2rem;
    font-weight: 800;
    color: #333943;
}

.is-large .comp-story-link-icon svg {
    width: 1.7rem;
    height: 1.7rem;
    fill: #A3A9B3;
    margin-top: 0.2rem;
    margin-right: 0.4rem;
}

