
@import 'vars.css';


.comp-story-editor {
    width: 440px;
    box-sizing: border-box;
}

.comp-story-editor-pane {
    padding: 20px 0;
}

.comp-story-editor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

