
@import 'vars.css';


.comp-computer-chooser {
    width: 440px;
}
   
.comp-computer-chooser-pane {
    min-height: 300px;
}

.comp-computer-chooser-pane-header {
    border-bottom: 1px dashed #42474F;
}

.comp-computer-chooser-state {
    padding: 0 20px;
    height: 40px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #82878F;
    background: #F7FAFF;
    background: #F3F5F9;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.comp-computer-chooser-search {
    padding: 0 12px 0 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.comp-computer-chooser-search:hover {
    cursor: pointer;
}

.comp-computer-chooser-search-button {
    padding: 0 8px;
}

.comp-computer-chooser-search-button:hover svg {
    fill: var(--color-blue);
}

.comp-computer-chooser-search-button svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
    fill: #51555D;
}

.comp-computer-chooser-search-result {
    padding: 16px 20px;
    border-bottom: 1px dashed #B1B8C3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.comp-computer-chooser-search-result-info {
}

.comp-computer-chooser-search-result-icon {
    display: none;
}

.comp-computer-chooser-search-result-icon svg {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 0.2rem;
    fill: #51555D;
}

.comp-computer-chooser-search-result:hover {
    cursor: pointer;
}

.comp-computer-chooser-search-result:hover .comp-computer-chooser-search-result-name {
    color: var(--color-blue);
}

.comp-computer-chooser-search-result:hover .comp-computer-chooser-search-result-domain {
    color: var(--color-blue);
}

.comp-computer-chooser-search-result-name {
    margin-bottom: 4px;
    font-weight: 700;
    color: #101828;
}

.comp-computer-chooser-search-result-domain {
    margin-bottom: 4px;
    color: var(--color-blue);
    color: #404858;
    font-weight: 400;
}

.comp-computer-chooser-search-subquery {
    border-radius: 8px;
    background: #F0F6FE;
    padding: 4px 12px;
    color: var(--color-blue);
    color: #101828;
    border: 1px solid #B1B8C3;

    font-size: 0.9rem;
    font-weight: 500;
    color: #363A42;
    background: #F7FAFF;
}

.comp-computer-chooser-computer {
    height: 44px;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
}

.comp-computer-chooser-computer:hover {
    cursor: pointer;
}


.comp-computer-chooser-computer-name {
    font-size: 1.1rem;
    font-weight: 500;
    color: #363A42;
}

.comp-computer-chooser-back-button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #51555D;
}

.comp-computer-chooser-computer:hover svg {
    fill: var(--color-blue);
}


.comp-computer-chooser-pane-content {
    padding-bottom: 20px;
}

.comp-computer-chooser-prop {
   padding: 12px 20px; 
}

.comp-computer-chooser-prop-label {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 4px;
    font-size: 0.9rem;
    font-weight: 400;
}

.comp-computer-chooser-prop-label-tech {
    color: #12171F;
}

.comp-computer-chooser-prop-label-coll {
    margin-left: 4px;
    color: #82878F;
}

.comp-computer-chooser-prop-value {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-family: Inter, sans-serif;
    font-weight: 400;

    padding: 12px 12px;
    border: 1px dashed #989FA7;
    color: #12171F;
    background: #F2F6FB;
}

.comp-computer-chooser-prop-value:not(:first-child) {
    margin-top: 12px;
}

.comp-computer-chooser-prop-value.is-link {
    /* color: var(--color-blue); */
}

.comp-computer-chooser-prop-value.is-link:hover {
    cursor: pointer;
}

.comp-computer-chooser-footer {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.comp-computer-chooser-compute-button {
    height: 40px;
    box-shadow: 0px 1px 6px 1px #E4E9F2;
    border: 1px solid #D4D9E2;

    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 800;
    font-size: 1rem;
}

.comp-computer-chooser-compute-button:hover {
    cursor: pointer;
    box-shadow: 0px 1px 9px 3px #E4E9F2;
}

.comp-computer-chooser-compute-button-verb {
    padding-right: 8px;
    color: var(--color-pink);
}

.comp-computer-chooser-compute-button-object {
    border-left: 1px dotted #42474F;
    padding: 0px 0px;
    padding-left: 8px;
    color: #3A3F48;
}

