
@import 'vars.css';


.comp-arrow-editor {
}

.comp-arrow-editor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.comp-arrow-editor-pane {
    padding: 20px 20px;
}
