
@import 'vars.css';

.comp-state-button.type-inline {
    display: inline-block;
    background: transparent;

    box-shadow: 0px 1px 6px 1px #E4E9F2;
    box-shadow: none;
    border: 1px solid #D4D9E2;
    border: none;

    padding: 12px 24px;
    padding: 0;

    text-decoration: none;

    font-weight: 800;
    font-size: 0.95rem;
}

.comp-state-button-content.type-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.comp-state-button.type-inline:hover {
    cursor: pointer;
    box-shadow: 0px 1px 9px 3px #E4E9F2;
    box-shadow: none;
}

.comp-state-button-icon.type-inline svg {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--color-pink);
    margin-right: 0.4rem;
    margin-top: 0.1rem;
}

.comp-state-button-compute-story .comp-state-button-icon svg {
    width: 1.6rem;
    height: 1.6rem;
}

.comp-state-button-verb.type-inline {
    color: var(--color-pink);
    padding-right: 4px;
}


.comp-state-button-object.type-inline {
    color: #555A66;
    color: var(--color-pink);
}


.comp-state-button.type-sidebar {
    background: transparent;
    border: 1px solid transparent;
    border: none;

    display: inline-block;

    text-decoration: none;

    font-weight: 700;
    font-size: 0.95rem;

    box-sizing: border-box;
    padding: 8px 12px;
    padding: 0;
}

.comp-state-button.type-sidebar:hover {
    cursor: pointer;
    border: none;
}

.comp-state-button-content.type-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.comp-state-button-icon.type-sidebar {
    padding-left: 12px;
    padding-right: 2px;
}

.comp-state-button-icon.type-sidebar svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0.2rem;
    fill: #51555F;
}

.comp-state-button-verb.type-sidebar {
    color: var(--color-pink);
    padding-right: 2px;
}


.comp-state-button-object.type-sidebar {
    border-left: 1px dotted #42474F;
    color: #555A66;
    color: #3A3F48;
    border: none;
}
