
@import 'vars.css';

.comp-view-switcher {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 28px;

}

.comp-view-switcher-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 800;
    font-size: 0.95em;
}

.comp-view-switcher-button:hover {
    cursor: pointer;
}

.comp-view-switcher-verb {
    padding: 0px 0px;
    padding-right: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--color-pink);
}

.comp-view-switcher-icon svg {
    fill: #91959F;
    fill: #939FAF;
    margin-bottom: 0.1rem;
}

.comp-view-switcher-icon-expand svg {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 4px;
}

.comp-view-switcher-icon-close svg {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 14px;
    margin-right: 6px;
    margin-top: 0.2rem;
}

.comp-view-switcher-object {
    border-left: 1px dotted #42474F;
    border: none;
    padding: 0px 0px;
    padding-left: 0px;
    color: #3A3F48;
}



.comp-view-switcher-chooser {

    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    z-index: 5000;
    width: 100%;

    border-top: 1px solid #BDBFCC;
    border-bottom: 1px solid #B1B5BF;
    box-shadow: none;
    box-shadow: 0px 2px 6px 0 #EAEFF7CC;

    background: white;
    background: #F7FAFE;
    background: #F7F9FC;
    padding: 0 40px 40px 40px;
    height: 100vh;

}


.comp-view-switcher-chooser-header {
    height: 60px;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #B1B5BF;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: #828793;
    font-size: 0.9rem;
    font-weight: 500;
}

.comp-view-switcher-chooser-header-subcategory {
    width: 240px;
    box-sizing: border-box;
}

.comp-view-switcher-chooser-header-category {
    width: 120px;
    font-weight: 800; 
}

.comp-view-switcher-chooser-main {
    display: flex;
    flex-direction: row;
}

.comp-view-switcher-chooser-category {
    width: 120px;
}

.comp-view-switcher-chooser-subcategory {
    width: 240px;
}


.comp-view-switcher-chooser-choice {
    background: white;
}

.comp-view-switcher-view-home {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
    border-left: 1px solid var(--color-border-medium);
}

.comp-view-switcher-create-story {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
}

.comp-view-switcher-create-program {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
    border-left: 1px solid var(--color-border-medium);
}

.comp-view-switcher-create-abstraction {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
    border-left: 1px solid var(--color-border-medium);
}

.comp-view-switcher-create-state {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
    border-left: 1px solid var(--color-border-medium);
}

.comp-view-switcher-create-arrow {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
    border-left: 1px solid var(--color-border-medium);
}

.comp-view-switcher-find-story {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
}

.comp-view-switcher-find-program {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
}

.comp-view-switcher-find-abstraction {
    border-right: 1px solid var(--color-border-medium);
    border-bottom: 1px solid var(--color-border-medium);
}

.comp-view-switcher-chooser .comp-state-button {
    padding: 12px 20px;
    background: none;
    box-shadow: none;
    font-size: 0.9rem;
    border: none;
}

.comp-view-switcher-chooser .comp-state-button-verb {
    color: #555A66;
}

.comp-view-switcher-chooser .comp-state-button-object {
    color: #555A66;
}

.comp-view-switcher-chooser .comp-state-button-icon {
    margin-right: 0.4rem;
}

.comp-view-switcher-chooser .comp-state-button-icon svg {
    fill: #555A66;
}


.comp-view-switcher-chooser-choice:hover .comp-state-button-object {
    color: var(--color-pink);
}

.comp-view-switcher-chooser-choice:hover .comp-state-button-verb {
    color: var(--color-pink);
}

.comp-view-switcher-chooser-choice:hover svg {
    fill: var(--color-pink);
}
