
@import 'vars.css';


.comp-set-builder {
}

.comp-set-builder-set {
    position: relative;
    width: 100%;
}


.set {
    border: 1px solid #D2D6DD;
    margin-right: 20px;
    box-shadow: 0px 1px 6px 1px #E4E9F2;
    box-shadow: none;
    border: 1px solid #B7BBC4;
    border-radius: 2px;

    /* Muuri required */
    position: absolute;
}

.set:hover {
    cursor: pointer;
    box-shadow: 0px 2px 9px 1px #D4D9E2;
    box-shadow: 0px 1px 6px 1px #E4E9F2;
}

.set-content {
    position: relative;
}

.set table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 0.9rem;
    background: white;
}

.set th {
    border-right: 1px dashed #D1D4DE;
    padding: 8px;
    padding-left: 20px;
    font-weight: 500;
    color: #42474F;
    text-align: left;
    margin: 0;
}

.set td {
    padding: 8px;
    padding-right: 20px;
    font-weight: 400;
    color: #42474F;
}

.set tbody {
    margin: 0;
    padding: 0;
}

.set tr {
    margin: 0;
    padding: 0;
}

.set tr:not(:last-child) {
    border-bottom: 1px dashed #D1D4DE;
}

.set-kind {

    padding: 0 20px;
    height: 32px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #82878F;
    background: #F3F5F9;

    border-bottom: 1px dashed #92979F;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.set-server-name {
    padding: 4px 20px;
    padding-top: 12px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #32373F;
    background: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.set-value {
    padding: 4px 20px;
    padding-bottom: 12px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #82878F;
    color: var(--color-blue);
    background: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.set-story-name-regex {
    padding: 12px 20px;
}


.set-computer-abstraction-name {
    padding: 12px 20px 4px 20px;;
}

.set-computer-abstraction-value {
    padding: 4px 20px 12px 20px;
}
