
@import 'vars.css';

/* Site-wide CSS                                                              */
/* -------------------------------------------------------------------------- */

html {
    font-size: 90%;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}

body {
    padding: 0;
    margin: 0;

    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-family: Inter, sans-serif;

    background: #F4F7FB;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Page                                                                       */
/* -------------------------------------------------------------------------- */

.page {
    position: relative;
    height: 100vh;
}

/* Page Header                                                                */
/* -------------------------------------------------------------------------- */

.page-header {

    position: fixed;
    height: 64px;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10000;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #D5DCE6;
    border: none;
    box-shadow: 0px 3px 9px 5px #E5ECF645; 
    box-shadow: none;
}

.page-header-left {
    height: 100%;
    width: 34%;
    align-self: center;
    justify-content: flex-start;
}

.page-header-center {
    height: 100%;
    width: 34%;
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-header-right {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
}

.page-content {
    position: relative;

    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;

}

.comp {
    width: 520px;
    box-sizing: border-box;
    padding: 40px 40px 80px 40px;
}

.comp-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comp-header-title {
    font-size: 0.95rem;
    font-weight: 800;
    color: #181F27;
}

.comp-header-subtitle {
    margin-left: 0.2rem;

    font-size: 0.95rem;
    font-weight: 800;
    color: #989FA7;
}

/*.is-manager {*/
    /*flex: 1;*/
/*}*/

/*.is-manager:not(:first-child) {*/
    /*border-left: 1px solid #E4E9F2;*/
/*}*/


.is-pane {
    background: white;

    box-shadow: 0px 1px 6px 1px #E4E9F2;
    box-shadow: none;
    border: 1px solid #D4D9E2;
    border: 1px solid #B7BBC4;
}


.page-footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    padding: 0 28px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: transparent;
}

.left-pane-button {
    width: 40px; 
    height: 40px; 
    border-radius: 4px;
    background: #E4E9F2;
    background: white;

    box-shadow: 0px 1px 6px 1px #E4E9F2;
    border: 1px solid #B7BBC4;
    z-index: 12000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-pane-button:hover {
    cursor: pointer;
}

.left-pane-button:hover svg {
    fill: var(--color-blue);
}

.left-pane-button svg {
    width: 24px; 
    height: 24px; 
    fill: var(--color-blue);
    fill: #42474F;
    margin-top: 4px;
}


/* Page Sidebar                                                               */
/* -------------------------------------------------------------------------- */

.page-main {
    position: fixed;
    top: 64px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.page-sidebar {
    position: sticky;
    top: 0;

    width: 320px;
    box-sizing: border-box;

    background: white;
    background: #F4F7FB;
    height: 100%;

    box-shadow: 1px 0px 6px 1px #E4E9F2;
    box-shadow: none;
    background-image: none;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23C2C7CF' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3C/g%3E%3C/svg%3E");

}


.page-story-header {
    border-bottom: 1px solid #C3C8D2;
}

.page-story-label {
    height: 40px;

    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    font-size: 0.9rem;
    font-weight: 500;
    color: #82878F;
}

.page-story-selector {
    height: 40px;

    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-family: Inter, sans-serif;
    font-weight: 700;
}


.page-modal-pane {
    width: 320px;
    height: 100%;

    position: absolute;
    left: 0;
    top: -60px;
    z-index: 500000;

    box-shadow: -2px 0 6px 0 #E4E9F2;

    box-shadow: -2px 0px 9px 5px #E5ECF645; 

    background: white;
    border-left: 1px solid #D5DCE6;
}
