
@import 'vars.css';

.header-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-home {
    width: 100%;
    padding: 0 40px;
    background: #F7FAFF;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23B2B7BF' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3C/g%3E%3C/svg%3E");
}

.page-home-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding-top: 80px;
    height: 100vh;
}


.page-home-main-left {
    width: 50%;
    box-sizing: border-box;
    padding-right: 40px;
}

.page-home-main-left-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 3.6rem;
    font-weight: 800;

    background: linear-gradient(55deg, var(--color-blue), #52ff39);
    background: linear-gradient(55deg, var(--color-blue), var(--color-pink));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.page-home-main-left-examples {
    padding-top: 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.page-home-main-left-examples .comp-story-link {
    margin-right: 1rem;
}

.page-home-main-left-actions {
    margin: 0 40px;
    margin-top: 80px;
    height: 160px;
    border: 1px dashed #B2B8C3;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-home-main-left-actions-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-home-main-left-actions-buttons .comp-state-button {
    margin: 0 20px;
}

.page-home-main-right {
    width: 50%;
}

.page-home-help {
    border-top: 1px dashed #939FAF;
    background: white
}
