
:root {
    --comp-padding-vert: 20px;
    --comp-padding-horz: 20px;

    --color-pink: #f939ff;
    --color-pink: #f821ff;
    --color-pink: #ff39b0;
    --color-blue: #2975F0;
    --color-green: #52ff39;
    
    --color-border-medium: #C3C8D4;

    --color-background-2: #ECF0FF;
    --color-background-1: #E9EEFC;
    --color-background-0: #FFFFFF;
}


@font-face {
    font-family: Soehne;
    src: url("/static/fonts/test-soehne-buch.woff2");
    font-weight: 400;
}

@font-face {
    font-family: Soehne;
    src: url("/static/fonts/test-soehne-kraftig.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Soehne;
    src: url("/static/fonts/test-soehne-halbfett.woff2");
    font-weight: 600;
}

@font-face {
    font-family: Soehne;
    src: url("/static/fonts/test-soehne-dreiviertelfett.woff2");
    font-weight: 700;
}

@font-face {
    font-family: Soehne;
    src: url("/static/fonts/test-soehne-dreiviertelfett-kursiv.woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Soehne;
    src: url("/static/fonts/test-soehne-fett.woff2");
    font-weight: 800;
}

@font-face {
    font-family: Soehne;
    src: url("/static/fonts/test-soehne-fett-kursiv.woff2");
    font-weight: 800;
    font-style: italic;
}








/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-Thin.ttf");*/
  /*font-weight: 100;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-ExtraLight.ttf");*/
  /*font-weight: 200;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-Light.ttf");*/
  /*font-weight: 300;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-Regular.ttf");*/
  /*font-weight: 400;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-Medium.ttf");*/
  /*font-weight: 500;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-SemiBold.ttf");*/
  /*font-weight: 600;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-Bold.ttf");*/
  /*font-weight: 700;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-ExtraBold.ttf");*/
  /*font-weight: 800;*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*src: url("/static/fonts/Inter-Black.ttf");*/
  /*font-weight: 900;*/
/*}*/


